<!--component html goes here -->
<img *ngIf="!isSettingsMenuOpened" class="button logoSettings" (click)="openOrCloseMenu()" src="https://image.flaticon.com/icons/png/512/0/525.png"/>

<div *ngIf="isSettingsMenuOpened" class="menuSettings">
    <img class="button closeButton" (click)="openOrCloseMenu()" src="https://image.flaticon.com/icons/png/512/151/151882.png"/>
    <h1>Settings</h1>
    <div class="choiceSelect">

        <div class="flexRow button optionChoice" (click)="openOrCloseSubMenu('background')">
            <div class="divPreview"></div>
            <p>Edit background</p>
        </div>
        
        <div *ngIf="isSubMenuOpened['background']" class="subMenuSettings">
            <div class="flexRow blockTitle">
                <p class="button" [ngClass]="{'selected': mapSelectedBackground['color']}" (click)="selectOnMap('background', 'color')">Color</p>
                <p class="button" [ngClass]="{'selected': mapSelectedBackground['image']}" (click)="selectOnMap('background', 'image')">Picture</p>
                <img class="button" [ngClass]="{'selected': mapSelectedBackground['random']}" (click)="selectOnMap('background', 'random')" src="https://image.flaticon.com/icons/png/512/159/159781.png"/>
            </div>

            <div *ngIf="mapSelectedBackground['color']" class="flexCol gridChoice">
                <div class="flexRow rowColors" *ngFor="let listColors of listsChoiceColorForBackground">
                    <div *ngFor="let color of listColors">
                        <div class="button choiceBackground" [ngStyle]="{'background-color': color}" (click)="setBackground('color', color)"></div>
                    </div>
                </div>
            </div>

            <div *ngIf="mapSelectedBackground['image']" class="flexCol gridChoice middlePannel">
                <div class="flexRow rowColors" *ngFor="let listImageUrl of listsChoiceImageForBackground">
                    <div *ngFor="let imageUrl of listImageUrl">
                        <div class="button choiceBackground" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}" (click)="setBackground('image', imageUrl)"></div>
                    </div>
                </div>
            </div>


            <div style="display: flex; flex-direction: row-reverse; width:95%">
                <div class="button buttonSave" (click)="save('background')">
                    <p>Save</p>
                </div>
            </div>
        </div>
    </div>

    <div class="choiceSelect">

        <div class="flexRow button optionChoice" (click)="openOrCloseSubMenu('features')">
            <img src="https://image.flaticon.com/icons/png/512/1612/1612195.png"/>
            <p>Manage features</p>
        </div>
        
        <div *ngIf="isSubMenuOpened['features']" class="subMenuSettings">
            <div class="flexRow blockTitle">
                <p>Enable or disable features</p>
            </div>
            <div class="flexCol middlePannel">
                <div *ngFor="let feature of featuresMapKeys" class="flexRow oneFeature">
                    <p>{{featuresMap[feature].name}}</p>
                    <mat-slide-toggle [checked]="featuresMap[feature].enabled" [color]="'warn'" (change)="editEnabledFeatures($event, feature)"></mat-slide-toggle>
                </div>
            </div>
            <div style="display: flex; flex-direction: row-reverse; width:90%; justify-content: space-between; margin:auto;">
                <div class="button buttonSave" (click)="save('features')">
                    <p>Save</p>
                </div>

                <div class="flexRow button reorganizeButton" (click)="enableMove()">
                    <p>Reorganize</p>
                    <img class="button logoReplace" src="https://image.flaticon.com/icons/png/512/15/15978.png">
                </div>
            </div>
        </div>
    </div>
</div>